@charset "utf-8";
/*common*/
html{color:#000;background:#fff;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;text-size-adjust:100%;}
html *{outline:0;-webkit-text-size-adjust:none;-webkit-tap-highlight-color:rgba(0,0,0,0)}
body{font-family:HeitiJ-Light,"Helvetica Neue",Helvetica,STHeiTi,sans-serif;-webkit-font-smoothing:antialiased;background: #F5F5F5}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0}
input,select,textarea{font-size:100%}
input:-ms-clear{display:none}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
abbr,acronym{border:0;font-variant:normal}
del{text-decoration:line-through}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:500}
ol,ul,li{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500}
q:before,q:after{content:''}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-.5em}
sub{bottom:-.25em}
a,a:link{color:#000;}
a:hover{color:#FF4965;}
a:active{text-decoration:none}
ins,a{text-decoration:none}
fieldset,img,button,input{border:0}
button,input,select,textarea{font-size:100%}
table{border-spacing:0;border-collapse:collapse}
input,button{border-radius:0;-webkit-appearance:none,box-sizing:border-box;-moz-box-sizing:border-box; /* Firefox */-webkit-box-sizing:border-box; /* Safari */}
:focus{outline:0}
.hidden{display:none!important;visibility:hidden!important}
.show{display: block;overflow: hidden;}
.noborder{border:none!important;}
.left{float: left;display: inline-block;}
.right{float: right;display: inline-block;}
/*header*/
.header{min-width: 300px;max-width: 640px;margin:0 auto;overflow: hidden;margin-bottom:5px;position: relative;}
.topbar{height: 44px;width:100%;line-height: 44px;background: #F9F9F9;border-bottom: 1px solid #CECECE;text-align: center;position: relative;}
.logo h1{color: #FF4965;font-weight: bold;font-size: 24px}
.logo h2{font-size: 18px;width:50%;margin:0 auto;display:block;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.myaccount{width:44px;height:44px;position: absolute;top:0;left: 0;background: url(../img/myaccount.png) no-repeat center center;}
.search-btn{width:44px;height:44px;position: absolute;top:0;right: 0;background: url(../img/search-btn.png) no-repeat center center;}
.back{width:44px;height:44px;position: absolute;top:0;left: 0;background: url(../img/back.png) no-repeat center center;}
.rIndex{width:44px;height:44px;position: absolute;top:0;right: 0;background: url(../img/rIndex.png) no-repeat center center;}
.navbar{background: #fff;height:44px;overflow: hidden;position: relative;}
.navbar li{float: left;margin:0 10px;line-height: 44px}
.navbar a{color: #6B6B6B;padding-bottom: 5px}
.navbar a.hover{color:#FA6585;border-bottom:2px solid #F92D58;}
.more-icon{display: block;width: 30px;height: 30px;position: absolute;right: 0;top:52px;}
.more-icon i{display: block;width: 30px;height: 30px;background: url(../img/navmore.png) no-repeat 0 center;cursor: pointer}
.nav-inner{background: #fff;overflow: hidden;line-height: 2.0;padding-bottom: 5px}
.nav-inner a{font-size: 14px}
.nav-inner h2{text-align: center;border-top:1px solid #cecece;border-bottom:1px solid #cecece;margin-bottom: 5px}
.nav-inner li{width: 33%;float: left;text-align: center;display: inline-block;}
/*wrap*/
.wrap{min-width: 300px;max-width: 640px;margin:0 auto;overflow: hidden;padding:0 5px;margin-bottom:5px;}
.slider{width: 100%;margin-bottom: 5px;}
.slider img{width: 100%;}
.catebox{overflow: hidden;background: #fff;margin-bottom: 5px;padding-bottom: 10px;}
.catebox a{display:block;width: 25%;float:left;text-align: center;}
.catebox i{display: block;margin:10px auto;width: 75px;height: 75px;border-radius: 50%;}
.cate_1 i{background:url(../img/meishi.png) #FF9113 no-repeat center center; }
.cate_2 i{background:url(../img/fuzhuang.png) #B77BD9 no-repeat center center; }
.cate_3 i{background:url(../img/lipin.png) #8FCDBE no-repeat center center; }
.cate_4 i{background:url(../img/jiaju.png) #FF356A no-repeat center center; }
.adInstro{width: 100%;overflow: hidden;margin-bottom: 5px;max-height: 300px}
.adLeft{float: left;width: 49.7%;}
.adRight{float: right;width: 49.7%;}
.ad_3{float: left;display: block;width: 49.5%;}
.ad_4{float: right;display: block;width: 49.5%;}
.ad_1 img,.ad_2 img {width: 100%;}
.ad_3 img,.ad_4 img{width: 100%;}
/*itemList*/
.itemList{width:100%;margin:0 auto;overflow: hidden;margin-top: 10px;}
.itemTitle{border-left: 5px solid #F92D58;margin-bottom: 5px;}
.itemTitle h2{margin-left:10px;font-size: 20px;}
.eachItem{background: #fff;margin-bottom: 10px;}
.eachImg img{width: 100%;}
.eachInstro{position: relative;line-height: 30px;color: #999}
.new{color:#FF4D69;margin:0 5px;font-weight: bold;}
.day{position: absolute;right:5px;}
.loading{width: 100%;overflow:hidden;text-align: center;font-size: 18px;background: #fff;line-height: 40px;cursor:pointer;}
/*footer*/
.footer{min-width: 300px;max-width: 640px;margin:0 auto;overflow: hidden;text-align: center;}
.infoLink{border-top: 1px solid #DBDBDB;border-bottom: 1px solid #DBDBDB;margin:10px 0;}
.linkInner{width: 80%;clear: both;overflow: hidden;margin:0 auto;}
.linkInner a{display:block;float:left;font-size: 16px;text-align: center;width: 25%;padding:10px 0;border-left:1px solid #cecece;box-sizing:border-box;-moz-box-sizing:border-box; /* Firefox */-webkit-box-sizing:border-box; /* Safari */}
.footer p{width: 100%;line-height: 30px;color: #99A6C0;font-size: 14px}
.fixedTool{position: fixed;bottom:40px;width: 100%;height: 40px;}
.fixedTool a{display: block;width: 100%;height: 100%}
.fixedCart{margin-left: 15px;background:url(../img/fixedCart.png) #FF356A no-repeat 6px center;background-size:60% 60%;width: 35px;height: 35px;border-radius: 50%;}
.fixedTop{margin-right: 15px;background:url(../img/fixedTop.png) #000000 no-repeat center center;opacity:0.5;filter:alpha(opacity=50);background-size:60% 60%;width: 35px;height: 35px;border-radius: 5px;}
/*item*/
.itemImg{margin:0 auto;}
.itemImg img{width:100%;}
.itemPrice{border-bottom: 1px solid #cecece;background: #fff;padding: 0 10px}
.nowPrice{color:#FF4965;font-size: 50px;font-weight: bold;line-height: 70px;}
.nowPrice span{font-size: 20px;font-weight: normal;border-radius: 5px;border:1px solid #FF4965;padding:5px 10px;vertical-align: middle;}
.oldPrice{color: #A19999;font-size: 25px;line-height: 40px;}
.oldPrice span{margin-left: 30px;}
.itemTit{background: #fff;line-height: 1.5;padding:10px 10px;margin-bottom: 10px;}
.itemTit .new{margin-left: 0;margin-right: 15px}
.itemFormat{background: #fff;margin-bottom: 10px;padding:10px;}
.itemFormat h5{display: block;line-height: 2.0}
.itemFormat li{border-radius: 5px ;text-align: center;border:1px solid #FF4965;padding:8px 0;margin-bottom: 10px;color:#FF4965;cursor: pointer;}
.itemFormat li.select{background: #FF4965;color: #fff;border:1px solid #FF4965;}
.itemFormat li.del{background: #fff;color: #cecece;border:1px solid #cecece;text-decoration: line-through}
.itemInfo{background:#fff;margin-bottom: 10px;padding: 10px;}
.itemInfo h5{line-height: 2.0}
.itemInfo td{font-size: 14px;line-height: 1.5;color: #666666}
.itemInfo strong{color:#999999;font-weight: normal;}
.itemShop{background: #fff;margin-bottom: 10px;padding: 10px;}
.itemShopper{width: 100px;float: left;}
.itemShopper img{width: 100%}
.shopperInfo{margin-left: 120px;line-height: 1.8}
.itemInstro{background: #fff;margin-bottom: 10px;}
.shopperInfo p{font-weight: normal;font-size: 13.5px;color: #F92D58}
.shopperInfo strong{font-weight: normal;color: #999999}
.shopperInfo span{margin-right: 10px;}
.instroTitle{width: 98%;margin:0 auto;height: 42px;line-height: 40px;border-bottom: 1px solid #cecece;margin-bottom: 5px;box-sizing:border-box;-moz-box-sizing:border-box; /* Firefox */-webkit-box-sizing:border-box; /* Safari */}
.instroTitle a{display: block;float: left;width: 50%;text-align: center}
.instroTitle a.hover{color: #F92D58;border-bottom: 2px solid #F92D58 }
.imgList{text-align: center;}
.imgList img{width: 98%}
.fontList{padding-bottom: 10px}
.question,.answer{padding-left: 30px;padding-right: 5px;font-size: 14px;}
.question{line-height: 3.0;background: url(../img/question.png) no-repeat 5px center;}
.answer{color: #666666;line-height: 1.5;background: url(../img/answer.png) no-repeat 5px 0}
/*category*/
.cateNav{overflow: hidden;background: #fff;padding:5px 0;margin-bottom: 5px;}
.cateNav li{width: 24.5%;float: left;text-align: center;border-right: 1px solid #cecece;cursor:pointer;line-height: 1.8}
.cateFlash{background: #fff;margin-bottom: 5px;}
.cateImg{position: relative;overflow: hidden;}
.cateImg img{width: 100%;}
.cateImg p{position: absolute;bottom:5px;color: #fff;font-size:13px;padding: 5px;width: 98.5%;}
.cateDay{float: right;}
.cateInfo{line-height: 2.0;padding: 0 10px;height: 64px;overflow: hidden;}
.showAll{height: auto;}
.eachItem{width: 47%;float: left;margin:2px 0.5%;padding:1%;}
.eachImg img{width: 100%;}
.eachImg a{font-size:13px;line-height:2.0;width: 100%;display:block;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.eachInfo{position: relative;}
.price-discount{color: #FF356A;font-size: 22px;margin-right: 8px;}
.price-original{color: #999999;font-size: 16px;margin-right: 8px;text-decoration: line-through;}
.discount{position: absolute;right:5px;font-size: 14px;line-height: 28px}
.cateMore{background: #F5F5F5;}
/*search*/
.searchBox{width: 98%;margin:10px auto;}
.searchInput{width: 100%;height:40px;border: 1px solid #BEBEBE;border-radius: 5px;background: #fff;}
.searchInput i{display: inline-block;height: 40px;width: 40px;background: url(../img/searchIco.png) no-repeat center center;}
.searchInput input{display: inline-block;vertical-align: 50%;padding-left:0px;height:30px;line-height:1.5;margin-top: 5px; }
.searchClass{overflow: hidden;}
.searchClass h2{font-size: 18px;line-height: 2.0;margin-left: 10px;}
.searchSpan{background: #fff;overflow:hidden;border-top: 1px solid #E6E6E6;border-bottom: 1px solid #E6E6E6;}
.searchSpan li{float: left;width: 25%;text-align: center;padding:10px 0;}
.searchSpan li img{width: 80%}
.searchSpan li span{display: block;width: 100%;}
/*result*/
.resultNav{overflow: hidden;background: #fff;padding:5px 0;margin-bottom: 5px;}
.resultNav li{width: 24.5%;float: left;text-align: center;border-right: 1px solid #cecece;cursor:pointer;line-height: 1.8}
/*cart*/
.cartList{background: #F7F7F7;overflow: hidden;margin-bottom: 50px;}
.cartEach{background: #fff;margin-bottom: 5px;padding:8px;position: relative;}
.cartInfo{border-bottom: 1px solid #E4E4E4;border-top: 1px solid #E4E4E4;padding:5px 0;margin-bottom: 5px;font-size: 14px;line-height: 1.6;overflow: hidden;}
.cartInfo i.cartDot{vertical-align: 150%;margin-right: 10px}
.cartTit{line-height: 2.5;font-size: 14px;height: 35px}
.cartSum{line-height: 2.0;font-size: 13px;}
.cartDot{height: 20px;width: 20px;display: inline-block;background: url(../img/cartNoSelect.png) no-repeat center center;vertical-align: middle;}
.cartTitle{display: inline-block;}
.countDown{position: absolute;right: 8px;top:5px;}
.cartSumInfo{text-align: right;}
.cartSumAdd i{width: 15px;height: 15px;margin-right:5px;display: inline-block;background: url(../img/cartReduce.png) no-repeat center center;vertical-align: -7%;}
.cartSumMoney{color: #FF4965;font-weight: bold;font-size: 15px}
.cartInfoWrap{display: inline-block;}
.cartItemImg{float: left;width: 100px;height: 100px;overflow: hidden;margin-right: 10px}
.cartItemImg img{width: 96%;border:1px solid #999999;}
.cartItemInfo{display: inline-block;}
.cartItemControl{margin-top: 8px}
.cartItemControl span{border:1px solid #cecece;text-align: center;padding:2px 10px;margin-right: 10px;cursor: pointer;}
.cartItemControl input{width: 30px;border:1px solid #cecece;text-align: center;padding:2px 5px;margin-right: 10px;}
.cartItemPrice{position: absolute;right: 5px;top: 5px}
.cartCheck{height:60px;position: fixed;bottom:0;left:0;width:100%;overflow: hidden;background: #fff;border-top: 1px solid #cecece;}
.selectAll{display: inline-block;width:60px;line-height: 60px;float: left;margin-left: 10px;}
.selectAll i{display: inline-block;width: 20px;height: 20px;background: url(../img/cartNoSelect.png) no-repeat center center;vertical-align: middle;}
.checkOutInfo{display: inline-block;float:right;margin-right:100px;margin-top:5px;line-height: 1.4;text-align: right;}
.checkOutNew{color: #FF4965;font-size: 20px;}
.checkBtn{position: absolute;right: 5px;top:10px;display: block;text-align:center;width:80px;height: 40px;line-height: 40px;background: #FF4965;border-radius:5px;color:#fff;}
.checkBtn:hover{color: #fff;cursor: pointer}
/*login*/
.loginForm{width:98%;overflow: hidden;margin-bottom: 10px;margin:0 auto;font-size: 14px}
.loginUser,.loginPwd{box-sizing:border-box;-moz-box-sizing:border-box; /* Firefox */-webkit-box-sizing:border-box; /* Safari */}
.loginUser{width: 99.6%;border:1px solid #E4E4E4;height: 45px;line-height: 1.5;padding:15px 0;padding-left: 30px;background: #fff;border-radius: 5px;font-size: 13px;}
.loginPwd{width: 99.6%;border:1px solid #E4E4E4;height: 45px;line-height: 1.5;padding:15px 0;padding-left: 30px;background: #fff;border-radius: 5px;font-size: 13px;}
.loginInfo{line-height: 2.0;margin: 5px 0 10px 0}
.loginInfo a{float: right;}
.loginInfo input{width: 12px;height: 12px;display: inline-block;border:1px solid #cecece;vertical-align: baseline;}
.loginBtn{width:98%;overflow: hidden;margin-bottom: 10px;margin:0 auto;font-size: 14px;padding-bottom: 100px}
.loginBtn button{width: 99.6%;border:1px solid #FF4965;height: 45px;line-height: 45px;text-align: center;margin-bottom: 5px;border-radius: 5px;color: #FF4965;cursor: pointer;background: #F9F9F9}
.loginBtn button.active{background: #FF4965;color: #fff}
.loginUser{background: url(../img/user.png) no-repeat 10px center;}
.loginPwd{background: url(../img/pwd.png) no-repeat 10px center;}
/*regis*/
.regisForm{width:98%;overflow: hidden;margin-bottom: 10px;margin:0 auto;font-size: 14px}
.regisUser,.verifyBtn,.regisVerify,.verifyBtn,.regisBtn,.regisPwd{box-sizing:border-box;-moz-box-sizing:border-box; /* Firefox */-webkit-box-sizing:border-box; /* Safari */}
.regisUser{width: 100%;border:1px solid #E4E4E4;height: 45px;line-height: 1.5;padding-left: 35px;background: #fff;border-radius: 5px;}
.regisVerify{width: 70%;border:1px solid #E4E4E4;height: 45px;line-height: 1.5;padding-left: 35px;background: #fff;border-radius: 5px;}
.verifyBtn{width: 30%;border:1px solid #FF4965;height: 45px;line-height: 1.5;text-align: center;color:#FF4965;background: #F9F9F9;cursor: pointer;}
.regisPwd{width: 100%;border:1px solid #E4E4E4;height: 45px;line-height: 1.5;padding-left: 35px;background: #fff;border-radius: 5px;}
.regisInfo{line-height: 2.0;margin: 5px 0 10px 0}
.regisInfo a{color: #FF4965}
.regisInfo input{width: 12px;height: 12px;display: inline-block;border:1px solid #cecece;vertical-align: baseline;}
.regisBtn{width:98%;overflow: hidden;margin-bottom: 10px;margin:0 auto;font-size: 14px;padding-bottom: 100px}
.regisBtn button{width: 100%;border:1px solid #FF4965;height: 45px;line-height: 1.5;text-align: center;margin-bottom: 5px;border-radius: 5px;color: #FF4965;cursor: pointer;background: #F9F9F9}
.regisBtn button.active{background: #FF4965;color: #fff}
.regisUser{background: url(../img/user.png) no-repeat 10px center;}
.regisPwd{background: url(../img/pwd.png) no-repeat 10px center;}
.regisVerify{background: url(../img/verify.png) no-repeat 10px center;}
/*home*/
.homeInfo{height: 120px;background: #FF83A5;overflow: hidden;position: relative;margin-bottom: 15px;}
.userImg{position:absolute;width: 80px;height: 80px;border-radius: 50%;left: 10px;top:20px;overflow: hidden;}
.userImg img{width: 100%}
.userMess{position: absolute;left:105px;top:5px;color: #fff;line-height: 2.0}
.userMess .userName{display:inline-block;max-width: 120px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.userMess .userGrade{display:inline-block;width:82px;height:32px;background: url(../img/userGrade.png) no-repeat center center;background-size: 100%;margin-left: 30px;vertical-align: 50%;}
.userLink{position: absolute;right: 10px;bottom: 10px;}
.userLink a{font-size: 13px;color: #fff}
.homeOrder{background: #fff;margin-bottom: 15px;border-bottom: 1px #cecece solid;border-top: 1px #cecece solid;padding-left: 10px;overflow: hidden;}
.homeOrder header{height: 45px;line-height: 45px;border-bottom: 1px #cecece solid;}
.homeOrder header a{display: block;width: 100%;height: 100%}
.homeOrder header i{display:inline-block;height: 20px;width: 20px;margin-right:15px;background:url(../img/homeOrder.png) no-repeat center center;background-size: 100%;vertical-align: middle;}
.homeOrder header span{float: right;margin-right:10px;}
.homeOrderClass li{width: 20%;text-align: center;float: left;}
.homeOrderClass li i{display:block;width: 40%;height: 40px;margin:5px auto;}
.homeOrderClass li span{display:block;padding:0 0 10px 0;}
.homeOrderClass li a{display:block;width: 100%;height: 100%}
.homeOrderClass li i.homeOrder-1{background:url(../img/homeOrder-1.png) no-repeat center center;background-size: 100%}
.homeOrderClass li i.homeOrder-2{background:url(../img/homeOrder-2.png) no-repeat center center;background-size: 100%}
.homeOrderClass li i.homeOrder-3{background:url(../img/homeOrder-3.png) no-repeat center center;background-size: 100%}
.homeOrderClass li i.homeOrder-4{background:url(../img/homeOrder-4.png) no-repeat center center;background-size: 100%}
.homeOrderClass li i.homeOrder-5{background:url(../img/homeOrder-5.png) no-repeat center center;background-size: 100%}
.homeBag{background: #fff;margin-bottom: 15px;border-bottom: 1px #cecece solid;border-top: 1px #cecece solid;padding-left: 10px;overflow: hidden;}
.homeBag header{height: 45px;line-height: 45px;border-bottom: 1px #cecece solid;}
.homeBag header a{display: block;width: 100%;height: 100%}
.homeBag header i{display:inline-block;height: 20px;width: 20px;margin-right:15px;background:url(../img/homeBag.png) no-repeat center center;background-size: 100%;vertical-align: middle;}
.homeBag header span{float: right;margin-right:10px;}
.homeBagClass{padding: 10px 0;overflow: hidden;}
.homeBagClass li{width: 33.3%;text-align: center;float: left;}
.homeBagClass li i{display:inline-block;width: 30px;height: 30px;margin-right:5px;vertical-align: -35%;}
.homeBagClass li span{display:inline-block;margin-left:5px;color:#FF83A5;}
.homeBagClass li a{display:inline-block;width: 100%;height: 100%}
.homeBagClass li i.homeBag-1{background:url(../img/homeBag-1.png) no-repeat center center;background-size: 100%}
.homeBagClass li i.homeBag-2{background:url(../img/homeBag-2.png) no-repeat center center;background-size: 100%}
.homeBagClass li i.homeBag-3{background:url(../img/homeBag-3.png) no-repeat center center;background-size: 100%}
.homeMore{background: #fff;margin-bottom: 15px;border-bottom: 1px #cecece solid;border-top: 1px #cecece solid;padding-left: 10px;overflow: hidden;}
.homeMore div{height: 45px;line-height: 45px;border-bottom: 1px #cecece solid;}
.homeMore div span{float: right;margin-right:10px;}
.homeMore div a{display: block;width: 100%;height: 100%}
.homeMore div i{display:inline-block;height: 20px;width: 20px;margin-right:15px;vertical-align: middle;}
.homeMore-1 i{background:url(../img/homeMore-1.png) no-repeat center center;background-size: 100%}
.homeMore-2 i{background:url(../img/homeMore-2.png) no-repeat center center;background-size: 100%}
.homeMore-3 i{background:url(../img/homeMore-3.png) no-repeat center center;background-size: 100%}
.homeMore-4 i{background:url(../img/homeMore-4.png) no-repeat center center;background-size: 100%}
/*help*/
.helpRobert{margin-bottom:10px;background:#fff;}
.helpRobert header{height: 45px;line-height: 45px;border-bottom: 1px #cecece solid;text-indent: 5px;}
.helpClass li{padding: 10px 0 10px 10px;height: 50px;position: relative;line-height: 25px;border-bottom: 1px #cecece solid;}
.helpClass i{position: absolute;display: block;width: 35px;height: 35px;top:16px;left: 5px;}
.helpClass span{display: block;margin-left: 38px;font-size: 13.8px;}
.helpClass span.helpMes{color: #999999}
.helpClass span.helpLink{display: block;position: absolute;right: -5px;top:20px;width: 20px;height: 20px;color: #999999;font-size: 18px;overflow: hidden;}

.helpOnline{margin-bottom:10px;background:#fff;}
.helpOnline header{height: 45px;line-height: 45px;border-bottom: 1px #cecece solid;text-indent: 5px;}
.helpOnline header span{color:#E33532;font-size: 13px; }
.helpTel{margin-bottom:10px;background:#fff;text-align: center;line-height: 2.0}
.helpKnow img{width: 100%;}
.helpRobert-1 i{background:url(../img/helpRobert-1.png) no-repeat center center;background-size: 100%}
.helpOnline-1 i{background:url(../img/helpOnline-1.png) no-repeat center center;background-size: 100%}
.helpOnline-2 i{background:url(../img/helpOnline-2.png) no-repeat center center;background-size: 100%}
.helpOnline-3 i{background:url(../img/helpOnline-3.png) no-repeat center center;background-size: 100%}



























